<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>....type anything... </h1>
    <form action="/bfhl" method="POST">
        <label for="data" class="form-label">Data</label>
         <input type="text" name="data" id="data" placeholder="data...">
        <button>submit</button>
    
     </form>
</body>
</html>